* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav_bar {
    background-color: #333;
    padding: 10px 20px;
    text-align: center;
    display: flex;
    justify-content: right;
    gap: 37%;
}

.nav_bar p {
    color: white;
    margin: 0;
    padding: 0;
    font-size: 18px;
}

.nav_bar ul {
    list-style-type: none;
    display: flex;
    justify-content: right;
}

.nav_bar ul li {
    margin: 0 45px;
}

.nav_bar ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.nav_bar ul li a:hover {
    color: #ff9800;
}

.account_login {
    display: none; 
    position: fixed;
    margin-left: 40%;
    margin-top: 10%;
    width: 20%;
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.account_login .login_content {
    display: none;
    text-align: center;
    padding: 5%
}

.account_login .account_creation_content {
    display: none;
    text-align: center;
    padding: 5%
}
.account_login .no_account_content {
    display: block;
    text-align: center;
    padding: 5%
}
